/* paleta de colores: 340C30, 461843, 582455, A94CA4, EAD7E7 */


html{
    font-size: 62.5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #EAD7E7;
}

body{
    background-color: #461843;
}

/* Cabecera con logo, buscador, inicio y contacto*/

header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color:#340C30 ;
    min-height: 80px;
    margin: 0px;
    padding-right: 30px;
}

header div{
    align-self: center;
}

.inicio, .contacto{
    background-color: #A94CA4;
    color:#340C30;
    font-weight: bold;
    border-radius: 8%;
    margin: 3px;
    
}

nav a{
    padding: 10px;
}


.logo1{
    display:flex;
    height: 50px;
    padding: 10px 0px 10px 50px;
}

a{
    text-decoration: none;
    color: #EAD7E7;
    font-size: 1.5em;
}

@media (max-width: 480px){
    header{
        flex-direction: column;
    }
    nav{
        padding-bottom: 10px;
    }
}

